* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body {
  background-color: black;
}
.template {
  width: 1000px;
  height: 500px;
  margin: 10px auto;
}
.textContainer {
  border: 1px solid white;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  padding: 5px;
}
.btn {
  display: flex;
}
#start {
  width: 150px;
  height: 40px;
  font-size: large;
  margin-top: 10px;
  border: 2px solid white;
  color: white;
  background-color: black;
  border-radius: 3px;
}
#start:hover {
  color: green;
  background-color: white;
}
#keepStart {
  width: 200px;
  height: 40px;
  font-size: large;
  margin-top: 10px;
  border: 2px solid white;
  color: white;
  background-color: black;
  border-radius: 3px;
  margin-left: 2px;
}
#keepStart:hover {
  color: green;
  background-color: white;
}
